@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
}
@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
}
html body {
  overflow-x: hidden;
}
html body .container {
  max-width: 1200px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  html body .container {
    max-width: 95%;
  }
}
html body .container-sm {
  max-width: 1110px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  html body .container-sm {
    max-width: 90%;
  }
}
html body .btn {
  padding: 1.5rem 4.8rem;
  border-radius: 10rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}
html body h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.opening {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assests/heroImage.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 6.4rem;
  position: relative;
  z-index: 33;
}
.opening-circle {
  position: absolute;
  width: 111.4rem;
  height: 111.4rem;
  border-radius: 50%;
  background-color: #fe724c;
  z-index: -1;
  bottom: 6.4rem;
  right: -20.4rem;
}
@media (max-width: 1200px) {
  .opening-circle {
    width: 80rem;
    height: 80rem;
  }
}
@media (max-width: 850px) {
  .opening-circle {
    display: none;
  }
}
.opening .header {
  padding-block: 5.7rem;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: space-between;
}
.opening .header-logo {
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: white;
}
.opening .header-right_nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.opening .header-right_nav a {
  z-index: 33;
  font-size: 1.6rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all 0.3s;
}
.opening .header-right_nav a:hover {
  color: #474a57;
}
@media (max-width: 1200px) {
  .opening .header-right_nav a {
    display: none;
  }
}
.opening .header-right img {
  display: none;
}
@media (max-width: 1200px) {
  .opening .header-right img {
    display: inline-block;
    width: 3.2rem;
  }
}
.opening .header-right .btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
  font-weight: 700;
}
.opening .header-right .btn:hover {
  background-color: white;
  color: #fe724c;
}
.opening-bottom {
  z-index: 3;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .opening-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }
}
.opening-bottom_content h1 {
  font-size: 4.6rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 850px) {
  .opening-bottom_content h1 {
    text-align: center;
    width: 80%;
    margin-inline: auto;
  }
}
.opening-bottom_content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: white;
  margin-block: 2.7rem;
  opacity: 0.8;
}
@media (max-width: 850px) {
  .opening-bottom_content p {
    text-align: center;
    width: 80%;
    margin-inline: auto;
  }
}
.opening-bottom_content .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
  justify-content: left;
}
@media (max-width: 850px) {
  .opening-bottom_content .buttons {
    justify-content: center;
  }
}
.opening-bottom_content .buttons .btn {
  gap: 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  height: 5.5rem;
  transition: all 0.3s;
}
.opening-bottom_content .buttons .btn:hover {
  background-color: #fe724c;
  border: 1px solid #fe724c;
}
.opening-bottom_content .buttons .btn img {
  width: 2.7rem;
}
.opening-image {
  box-shadow: 17px 40px 50px 0px rgba(0, 0, 0, 0.3019607843);
}
@media (max-width: 1200px) {
  .opening-image {
    width: 30rem;
  }
}

.about {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
  margin-block: 7.3rem 10.4rem;
}
@media (max-width: 850px) {
  .about {
    flex-direction: column-reverse;
  }
}
.about-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "v v . ." "v v s s" "v v s s" "v v s s" "v v s s" "b o o o" "b o o o" "b o o o" "b o o o" ". o o o";
  gap: 2rem;
}
@media (max-width: 850px) {
  .about-images {
    width: 80%;
  }
}
.about-images .veggie {
  grid-area: v;
}
.about-images .onion {
  grid-area: o;
}
.about-images .bread {
  grid-area: b;
}
.about-images .salmon {
  grid-area: s;
}
.about-images img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}
.about-content {
  width: 100%;
}
.about-content hr {
  border: none;
  height: 2px;
  background-color: #efca08;
  width: 43px;
  margin-block: 2rem 2.2rem;
}
.about-content b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.about-content p {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #666666;
}

.howItWorks {
  background-color: #fe724c;
  padding-block: 7.8rem;
}
.howItWorks .container {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .howItWorks .container {
    flex-direction: column;
  }
}
.howItWorks .relative {
  position: relative;
}
.howItWorks .relative .absolute {
  position: absolute;
  z-index: 1;
  right: -10rem;
}
@media (max-width: 1200px) {
  .howItWorks .relative .absolute {
    width: 60rem;
  }
}
.howItWorks-img {
  width: 43rem;
  margin-right: 10rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .howItWorks-img {
    width: 30rem;
    margin-right: 0;
  }
}
.howItWorks-content h2 {
  color: white;
}
@media (max-width: 1000px) {
  .howItWorks-content h2 {
    text-align: center;
  }
}
.howItWorks-content hr {
  border: none;
  height: 2px;
  background-color: white;
  width: 6.3rem;
  margin-block: 2.4rem 10rem;
}
@media (max-width: 1000px) {
  .howItWorks-content hr {
    margin-inline: auto;
  }
}
.howItWorks-content_step {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .howItWorks-content_step {
    width: 70%;
    margin-inline: auto;
  }
}
@media (max-width: 500px) {
  .howItWorks-content_step {
    width: 90%;
    margin-inline: auto;
  }
}
.howItWorks-content_step .circle {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}
.howItWorks-content_step h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  margin-bottom: 1.2rem;
}
.howItWorks-content_step p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: white;
}
.howItWorks-content_step img {
  width: 3.8rem;
}
.howItWorks-content .second {
  margin-block: 8rem;
}/*# sourceMappingURL=main.css.map */