@mixin display-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin display($direc, $gap, $ai, $jc) {
  display: flex;
  flex-direction: $direc;
  gap: $gap;
  align-items: $ai;
  justify-content: $jc;
}

@mixin display-center($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin grid-responsive($width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
}
